.box {  
    background-color: #222;
    position: relative;
    border-radius: 30px;
    min-width: 300px;
    margin-top: 20px;
    display: inline-flex;
}
.header {
    margin-top: 0;
}
.content {
    margin: 30px;
    margin-left: 0;
}
.photo {
    min-width: 200px;
    height: 100%;
    width: 100%;
    max-width: 350px;
    border-radius: 200px;
    margin: 20px;
}

@media screen and (max-width: 900px) {
    .box {
      flex-direction: column;
    }
  
    .content {
      align-items: center;
      margin: 20px;
    }

    .photo {
        align-self: center;
    }
  }